<?xml version="1.0" encoding="UTF-8"?>

<web-app>

<servlet>
<servlet-name>UserRegister</servlet-name>
<servlet-class>Servlet.UserRegister</servlet-class>
</servlet>

<servlet>
<servlet-name>UserLogin</servlet-name>
<servlet-class>Servlet.UserLogin</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>UserRegister</servlet-name>
<url-pattern>/UserRegister</url-pattern>]
</servlet-mapping>

<servlet-mapping>
<servlet-name>UserLogin</servlet-name>
<url-pattern>/UserLogin</url-pattern>]
</servlet-mapping>

<welcome-file-list>
<welcome-file>loginRegister.jsp</welcome-file>
</welcome-file-list>


</web-app>